<%= form_with(model: clip, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "Titre du clip" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :video, "Vidéo du clip" %>
    <%= form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
