<h2 class="text-center mb-4 text-white">Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <div class="form-group mb-3">
    <%= f.label :username, class: "form-label text-white" %>
    <%= f.text_field :username, required: true, class: "form-control form-control-lg custom-input" %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :password, class: "form-label text-white" %>
    <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control form-control-lg custom-input" %>
  </div>

  <div class="form-group mb-4">
    <%= f.check_box :remember_me, class: "form-check-input" %>
    <%= f.label :remember_me, class: "form-check-label text-white" %>
  </div>

  <div class="d-grid gap-2">
    <%= f.button :submit, "Log in", class: "btn btn-lg btn-twitch custom-btn" %>
  </div>
<% end %>

<div class="text-center mt-3">
  <%= render "devise/shared/links" %>
</div>
